<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDgY-SOdthjLWug5eCU6xQkQXtPmCx8tik</string>
	<key>GCM_SENDER_ID</key>
	<string>626013214227</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.chicks.ThaiDai</string>
	<key>PROJECT_ID</key>
	<string>thaidai-97258</string>
	<key>STORAGE_BUCKET</key>
	<string>thaidai-97258.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:626013214227:ios:e8d92d139229ccd45691e6</string>
</dict>
</plist>